/*! Container & Homepage*/
.active {
  transform: scale(1.1);
  border-radius: 10px;
  background-color: #ffffffa9;

  box-shadow: rgba(0, 0, 0, 0.788) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* Main containers */
.main-container {
  min-height: 600px;
  padding: 30px;

  background-color: rgba(177, 177, 177, 0.589);
  border: 1px solid black;
  border-radius: 20px;
}
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.homepage-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Nav-links */
.appbar-container {
  position: relative;
  display: flex;
  margin-right: auto;
  width: 100%;

  margin-bottom: 30px;
}
.appbar-container a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transition: all 350ms ease-out;
  color: #000000;
}
.appbar-container a:hover {
  color: #00000070;
}
.appbar-container a:active {
  transition: color 100ms ease-in-out;
  color: #00000030;
}
.appbar-container a:visited {
  color: black;
}
.appbar-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
.register {
  margin-left: auto;
}
.register:not(:last-child) {
  margin-right: 20px;
}

/* Homepage  texts */
.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.homepage-text {
  text-align: center;
  font-size: 18px;
}
.homepage-text:not(:last-child) {
  margin-bottom: 20px;
}
.homepage-list {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.homepage-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #00000025;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  transition: color 250ms ease-in, background-color 250ms ease,
    transform 250ms ease-in-out, box-shadow 300ms ease;
}
.homepage-list li:hover {
  cursor: default;
  background-color: #00000010;
  border-radius: 30px;
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #ffffff50;
}
.homepage-icons {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  transition: fill 250ms ease-in-out;
}
.homepage-list li:hover .homepage-icons {
  fill: #fff;
}

/* Homepage  links */
.homepage-link {
  margin: 0 4px;
  padding: 0 6px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #e9e9e990;

  transition: all 250ms ease-in-out;
}
.homepage-link:hover {
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  background-color: #000000ad;
  border-radius: 0px;
}

/* No page class */
.no-page {
  font-size: 26px;
  text-align: center;
  margin-top: 200px;
}
.no-page a {
  font-size: 26px;
  margin: 0 4px;
  padding: 0 6px;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #e9e9e990;

  transition: all 250ms ease-in-out;
}
.no-page a:hover {
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  background-color: #000000ad;
  border-radius: 0px;
}
