.filter__label {
  position: relative;
  margin-bottom: 10px;
}
.filter__label input {
  margin-left: 10px;
}
.filter__icon {
  position: absolute;
  top: 60%;
  right: 10px;
  transform: translateY(-50%);
}
