.form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}
.label__name {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  flex-direction: column;
  margin-right: 10px;
}
.input__name {
  /* position: relative; */
}
.name__icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.label__number {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  flex-direction: column;
  margin-right: 10px;
}
input {
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 45px;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
}
input::placeholder {
  color: #00000060;
}

.form_button {
  min-width: 120px;
  height: 36px;
  font-size: large;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.form_button:hover {
  background-color: #979797fa;
  border: 1px solid rgba(0, 0, 0, 0.555);
}
.form_button:disabled {
  border: 1px solid rgba(39, 39, 39, 0.3);
  background-color: rgba(36, 36, 36, 0.255);
}
