.reg_form {
  display: flex;
  flex-direction: column;
  width: 420px;
}
.reg_form input {
  width: 95%;
  min-height: 30px;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 18px;
}
.reg_form label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reg_form label:not(:last-child) {
  margin-bottom: 20px;
}
.reg_name {
  position: relative;
}
.reg_icon_name {
  position: absolute;
  right: 10px;
  top: 72%;
  transform: translateY(-50%);
}
.reg_mail {
  position: relative;
}
.reg_pass {
  position: relative;
}
.reg_icon_pass {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 74%;
  transform: translateY(-50%);
}
.reg_button {
}
