@import-normalize; /* bring in normalize.css styles */

/*! Container & Homepage*/
@import url('./styles/main-containers.module.css');
@import url('./styles/navigation.module.css');

body {
  /* cursor: default; */
  background-image: url('./img/bcg.png');
  background-color: rgba(75, 75, 75, 0.164);
  padding: 40px;
  margin: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  font-size: 20px;
  text-decoration: none;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
input {
  border: none;
}
label {
  font-size: 22px;
}
